# Mechanical Licensing Collective
Organization Website - https://www.themlc.com/

MLC Database - https://portal.themlc.com/search

Project Repo - https://github.com/NSS-Data-Analytics-Cohort-6/mlc-project-napster

Team Questions & Notes - https://docs.google.com/document/d/1AIAU7W4r5fEJxONmak5hGWSu9REmVThNazul6ix4M4w/edit

# Data Story
Pain Point - The rise in music streaming has complicated the process of paying royalties to songwriters, lyricists, composers, and music publishers. If monthly streaming records from DSPs cannot be matched with ownership data, these creators and publishers may not receive the royalties that are owed to them. 

Audience - Andrew Mitchell, MLC Analytics team

Objective - explore unmatched recordings in the provided dataset to uncover any potentially interesting or useful patterns.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Read data into notebook

In [2]:
mlc = pd.read_csv('../data/MLC_sample.csv')
mlc.head()

,If,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
0,USUG12101043,US,UG1,21.0,NaN,AudioMack,"10,175",Future,NaN,FUTURE FT DEJ LOAF HEY THERE PROD BY DDS,#unknown#,181,0
1,USRC12100543,US,RC1,21.0,NaN,SoundCloud,"8,597",LUCKY3RD,LUCKY3RD,Keep It Cool LUCKY3RD,Keep It Cool LUCKY3RD,133,0
2,USSM12102263,US,SM1,21.0,NaN,SoundCloud,"261,280",LUCKY3RD,LUCKY3RD,Life Goes On LUCKY3RD,Life Goes On LUCKY3RD,171,0
3,USLD91731547,US,LD9,17.0,2/1/2021,Trebel,5,Bachata & Merengue Mix,Orchard,No dudes de mi- Merengue & Bachata Mix,Mega Mix 2010,1250,0
4,USAT22007048,US,AT2,20.0,NaN,AudioMack,"62,105",Foolio,NaN,WHEN I SEE YOU REMIX,#unknown#,187,0

In [3]:
mlc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   If                                         98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB

## Columns with null data
0 - ISRC - 1760

1 - Country Code - 1697

2 - Registrant Code - 1697

3 - Year of Reference - 1761

4 - Usage Period - 8102

5 - Streaming Platform (DSP) - 3999

8 - Recording Label - 1008

10 - Release Title - 69

Release Title has the fewest missing values (69) and Usage Period has the most (8102).

# Renaming Columns
Renamed columns 0 and 12 for accuracy and clarity

In [4]:
mlc.columns = ['ISRC', 'Country Code', 'Registrant Code', 'Year of Reference', 'Usage Period', 'Streaming Platform (DSP)', 'Streams', 'Recording Artist', 'Recording Label', 'Recording Title', 'Release Title', 'Recording Duration (Seconds)', 'Songwriters Listed (1=Y, 0=N)']
mlc.head()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriters Listed (1=Y, 0=N)"
0,USUG12101043,US,UG1,21.0,NaN,AudioMack,"10,175",Future,NaN,FUTURE FT DEJ LOAF HEY THERE PROD BY DDS,#unknown#,181,0
1,USRC12100543,US,RC1,21.0,NaN,SoundCloud,"8,597",LUCKY3RD,LUCKY3RD,Keep It Cool LUCKY3RD,Keep It Cool LUCKY3RD,133,0
2,USSM12102263,US,SM1,21.0,NaN,SoundCloud,"261,280",LUCKY3RD,LUCKY3RD,Life Goes On LUCKY3RD,Life Goes On LUCKY3RD,171,0
3,USLD91731547,US,LD9,17.0,2/1/2021,Trebel,5,Bachata & Merengue Mix,Orchard,No dudes de mi- Merengue & Bachata Mix,Mega Mix 2010,1250,0
4,USAT22007048,US,AT2,20.0,NaN,AudioMack,"62,105",Foolio,NaN,WHEN I SEE YOU REMIX,#unknown#,187,0

# Value Counts
Country Code - 77

Registrant Code - 2368

Streaming Platform (DSP) - 29

Recording Artist - 21149

Songwriters Listed - Yes = 54161, No = 45839

In [5]:
mlc['Country Code'].value_counts()

US    41621
QZ    17189
QM     8409
TC     8295
GB     6611
      ...
QA        1
FX        1
PT        1
BO        1
CL        1
Name: Country Code, Length: 77, dtype: int64

In [6]:
mlc['Streaming Platform (DSP)'].value_counts()

Spotify               32268
Apple                 22200
Amazon                14438
Pandora               13777
Tidal                  3521
YouTube                2752
SoundCloud             2122
GTL                    1090
Melodyv                 829
Trebel                  817
iHeart Radio            707
AudioMack               550
NugsNet                 316
LiveXLive               200
Qoboz                   104
Midwest Tape            102
Deezer                   51
Anghami                  46
Sonos                    23
Recisio                  22
Smithsonian              21
Ultimate Guitar          19
PowerMusic                8
Wolfgangs                 4
Fan Label                 4
MixCloud                  4
Pacemaker                 3
Classical Archives        2
MonkingMe                 1
Name: Streaming Platform (DSP), dtype: int64

In [7]:
mlc['Songwriters Listed (1=Y, 0=N)'].value_counts()

1    54161
0    45839
Name: Songwriters Listed (1=Y, 0=N), dtype: int64

In [8]:
mlc['Registrant Code'].value_counts()

UM7    6020
UYG    5300
AT2    4253
UG1    2182
SM1    1642
       ...
VWR       1
VN3       1
SV5       1
RE5       1
9ND       1
Name: Registrant Code, Length: 2368, dtype: int64

In [9]:
mlc['Recording Artist'].value_counts()

Various artists                                                                                   967
Lil Durk                                                                                          446
Zach Bryan                                                                                        394
Youngboy Never Broke Again                                                                        335
Taylor Swift                                                                                      313
                                                                                                 ...
Mr. Rock Ski,Madam T                                                                                1
Rauw Alejandro, Myke Towers, Jay Wheeler                                                            1
Jay Wheeler, Myke Towers & DJ Nelson (feat. Jhay Cortez, Lunay, Rauw Alejandro & Kendo Kaponi)      1
Jay Wheeler, Myke Towers & Becky G                                                                  1
Loud Bunch Kids                                                                                     1
Name: Recording Artist, Length: 21149, dtype: int64

In [10]:
mlc['ISRC'].value_counts().loc[lambda x : x>1]

TCAEX2053645    119
USUM72009138     35
USUM72024668     34
USA2P2035887     33
USUM72102629     32
               ...
QMTND2100008      2
MXF012000029      2
QZDA61954329      2
USASN1004128      2
GBMJG2010512      2
Name: ISRC, Length: 19959, dtype: int64

### Saw a few rows that looked like duplicates when going through the Google sheet initially. 
Ran the above query to try and help identify if there are any duplicates. Next step is to create a dataframe for ISRC TCAEX2053645 and run some value counts and other general queries to see what bubbles up.

In [12]:
TCAEX2053645 = mlc.loc[mlc['ISRC'] == 'TCAEX2053645']
TCAEX2053645.head()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriters Listed (1=Y, 0=N)"
89162,TCAEX2053645,TC,AEX,20.0,3/1/2021,Amazon,"18,468",Rod Wave,Alamo Records,Tombstone,Tombstone,160,0
89163,TCAEX2053645,TC,AEX,20.0,4/1/2021,Amazon,"17,602",Rod Wave,Alamo Records,Tombstone,Tombstone,160,0
89164,TCAEX2053645,TC,AEX,20.0,4/1/2021,Amazon,"17,602",Rod Wave,Alamo Records,Tombstone,Tombstone,160,0
89165,TCAEX2053645,TC,AEX,20.0,5/1/2021,Apple,"82,233",Rod Wave,Alamo Records,Tombstone,SoulFly,160,1
89166,TCAEX2053645,TC,AEX,20.0,3/1/2021,Pandora,"29,101",Rod Wave,Alamo Records,Tombstone,Tombstone,160,1

In [13]:
TCAEX2053645['Streams'].value_counts().loc[lambda x : x>1]

  14,164      2
  9,705       2
  129,200     2
  11,400      2
  4,946       2
  10,630      2
  32,293      2
  6,316       2
  29,101      2
  17,602      2
  11,805      2
Name: Streams, dtype: int64

Will try to display the rows where the streaming count is equal to one of the values above.

In [26]:
TCAEX2053645[TCAEX2053645['Streams'] == 14,164]

TypeError: '(89162    False
89163    False
89164    False
89165    False
89166    False
         ...
89276    False
89277    False
89278    False
89279    False
89280    False
Name: Streams, Length: 119, dtype: bool, 164)' is an invalid key

Unsure why there are no responses. Tried removing the ' ' but that resulted in a type error. Will continue looking for more direct methods to identify true duplicates in the data.

In [24]:
dupes = TCAEX2053645.groupby(TCAEX2053645.columns.tolist()).size().reset_index().rename(columns={0: 'count'})
dupes.head()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriters Listed (1=Y, 0=N)",count
0,TCAEX2053645,TC,AEX,20.0,1/1/2021,Amazon,"3,006",Twinkle Twinkle Little Rock Star,Roma Music Group,Tomorrow (From Annie),Lullaby Versions of Disney Classics V2,125,0,1
1,TCAEX2053645,TC,AEX,20.0,1/1/2021,Amazon,"3,656",The Smashing Pumpkins,Virgin Records,"Tonight, Tonight (Remastered 2012)",Mellon Collie And The Infinite Sadness (Deluxe...,254,0,1
2,TCAEX2053645,TC,AEX,20.0,1/1/2021,Amazon,"4,922",Tiësto [feat. 433],Musical Freedom,Tomorrow (feat. 433),Tomorrow (feat. 433),165,0,1
3,TCAEX2053645,TC,AEX,20.0,1/1/2021,Apple,"11,065",BONES,TeamSESH / EMPIRE,TombstoneKiller,FromBeyondTheGrave,124,1,1
4,TCAEX2053645,TC,AEX,20.0,1/1/2021,Apple,"121,846",Jack Curley,Parlophone UK,Tomorrow,Tomorrow EP,207,1,1