In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from numpy import unravel_index

In [2]:
###To keep from calling plt.show every time
%matplotlib inline

In [3]:
napster_df = pd.read_csv("../Data/MLC_Data.csv", nrows=100001)

In [4]:
#example of read specifying select columns
#df = pd.read_csv('courses.csv', usecols =['Courses','Fee','Discount'])

In [5]:
#example for specifying column datatype
#df = pd.read_csv('courses.csv', dtype={'Courses':'string','Fee':'float'})

In [6]:
napster_df.shape

(100000, 13)

In [7]:
napster_df.head(7)

,If,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
0,USUG12101043,US,UG1,21.0,NaN,AudioMack,"10,175",Future,NaN,FUTURE FT DEJ LOAF HEY THERE PROD BY DDS,#unknown#,181,0
1,USRC12100543,US,RC1,21.0,NaN,SoundCloud,"8,597",LUCKY3RD,LUCKY3RD,Keep It Cool LUCKY3RD,Keep It Cool LUCKY3RD,133,0
2,USSM12102263,US,SM1,21.0,NaN,SoundCloud,"261,280",LUCKY3RD,LUCKY3RD,Life Goes On LUCKY3RD,Life Goes On LUCKY3RD,171,0
3,USLD91731547,US,LD9,17.0,2/1/2021,Trebel,5,Bachata & Merengue Mix,Orchard,No dudes de mi- Merengue & Bachata Mix,Mega Mix 2010,1250,0
4,USAT22007048,US,AT2,20.0,NaN,AudioMack,"62,105",Foolio,NaN,WHEN I SEE YOU REMIX,#unknown#,187,0
5,QZJ842000983,QZ,J84,20.0,3/1/2021,Spotify,"8,133",x0o0x_,x0o0x_,______,______,142,0
6,USUG12100126,US,UG1,21.0,3/1/2021,Apple,"5,839",Quentin Miller,1317 Recordings,_A_ (feat. Pe$o),Q.M.,199,1

In [8]:
napster_df.dtypes

If                                            object
Country Code                                  object
Registrant Code                               object
Year of Reference                            float64
Usage Period                                  object
Streaming Platform (DSP)                      object
Streams                                       object
Recording Artist                              object
Recording Label                               object
Recording Title                               object
Release Title                                 object
Recording Duration (Seconds)                   int64
Songwriter's Listed (1 = "Yes", 0 = "No")      int64
dtype: object

In [9]:
#pd.set_option('display.max_rows',n)
#pd.reset_option('display.max_rows')
#pd.reset_option('display.max_rows') to reset

In [10]:
napster_df['Streams'].map(type).head()

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
Name: Streams, dtype: object

In [11]:
napster_df.replace(',','', regex=True, inplace=True)
#df.replace(',','', regex=True, inplace=True)

In [12]:
#Rob's code
mlc['streams']=mlc['streams'].str.replace(',','')

NameError: name 'mlc' is not defined

In [ ]:
napster_df.head()

In [ ]:
#napster_df['Streams'] = napster_df['Streams'].apply(pd.to_numeric,errors='coerce')
#df[c] = df[c].apply(pd.to_numeric,errors='coerce')

In [ ]:
#
#df["a"] = df["a"].astype(str).astype(int)
#napster_df['Streams'] = napster_df['Streams'].astype('bytes')

In [ ]:
napster_df.dtypes

In [ ]:
#Convert to list, then to array, before converting to numeric
#arr = np.array(allHoldingsFund['ratioBest'].tolist())
#allHoldingsFund['ratioBest'] = (pd.to_numeric(arr, errors='coerce'))
#list = napster_df['Streams'].tolist()
#arr = np.array(list)
#napster_df['Streams'] = pd.DataFrame(arr)
#napster_df['Streams'] = pd.to_numeric(arr, downcast='signed')
#napster_df['Streams'] = napster_df['Streams'].apply(int)

In [ ]:
display(napster_df.loc[[5]])
#df.loc[df['column name'].isnull() == True]

In [ ]:
napster_df.head(7)

In [ ]:
#probably the most significant piece of code on this
napster_df['Streams'] = napster_df['Streams'].apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [ ]:
#Rob's code
#mlc['streams']=mlc['streams'].str.replace(',','')
#mlc['streams']=mlc['streams'].astype(int)

In [ ]:
napster_df.dtypes

In [ ]:
#napster_df['Streams'] = napster_df['Streams'].str.decode('utf-8')
#df['COLUMN1'].str.decode("utf-8")

In [ ]:
napster_df.head()

In [ ]:
napster_df.dtypes

In [ ]:
napster_df.head(7)

In [ ]:
napster_df.describe()

In [ ]:
napster_df.columns = ['ISRC','Country_Code','Registrant_Code','Ref_Year','Usage_Period','Streaming_Plat_DSP','Streams','Recording_Artist','Recording_Label','Recording_Title','Release_Title','Recording_Dur_s','Songwriter_Y_N']

In [ ]:
napster_df.head(7)

In [ ]:
napster_df.dtypes

In [ ]:
# number of nan per row in napster_df
display(napster_df.isna().sum())

In [ ]:
#Finding the songs by recording decade
plt.hist(napster_df['Ref_Year'], bins = 5)

In [ ]:
#Finding # Songwriter's Listed vs. Songwriter Not Listed
plt.hist(napster_df['Songwriter_Y_N'], bins = 5)

In [ ]:
#Finding actual number for Songwriter Not Listed
(napster_df['Songwriter_Y_N']==0).sum()

In [ ]:
#Finding actual number for Songwriter Listed
(napster_df['Songwriter_Y_N']==1).sum()

In [ ]:
#Max Song duration in napster_df
napster_df['Recording_Dur_s'].max()

In [ ]:
#Min Song duration in napster_df
napster_df['Recording_Dur_s'].min()

In [ ]:
#group into Songwriter_Y_N into Not Listed 0 and  Listed 1

In [ ]:
sw_y_n_0 = napster_df[napster_df['Songwriter_Y_N']==0]
#sw_y_n_0.head(5)

In [ ]:
sw_y_n_1 = napster_df[napster_df['Songwriter_Y_N']==1]
#sw_y_n_1.head(5)

In [ ]:
#df.groupby('team').size().reset_index(name='obs')

In [ ]:
#adding counts of 0 countries; i.e. countries that have the most Songwriters Not Listed
country_code_0_grp = sw_y_n_0.groupby(['Country_Code'])['Songwriter_Y_N'].count().reset_index(name='zero_count').sort_values(by='zero_count', ascending=False)
country_code_0_grp.head(10)

In [ ]:
#adding counts of 1 countries, i.e. Most Countries for Songwriters Listed
country_code_1_grp = sw_y_n_1.groupby(['Country_Code'])['Songwriter_Y_N'].count().reset_index(name='one_count').sort_values(by='one_count', ascending=False)
country_code_1_grp.head(10)
#notice reset_index to create a dataframe rather than a series!!

In [ ]:
#sample code for extracting column to add to another - - extracted_col = df1["Col3"]

In [ ]:
#sample code for inserting an extracted file - - df2.insert(1, "C3", extracted_col)

In [ ]:
#extract column needed in order to add to the other
extracted_col = country_code_1_grp['one_count']

In [ ]:
country_code_0_grp.head()

In [ ]:
#Creating combined Country - Songwriter List and No list numbers
#add one_count column to zero_count column to form combined db
country_code_grp = country_code_0_grp
country_code_grp.insert(2,'one_count',extracted_col)
country_code_grp.sort_values(by='zero_count', ascending=False)
country_code_grp.head(10)

In [ ]:
#changing names of columns
country_code_grp.columns = ['Country_Code', 'Writer_Not_Listed', 'Writer_Listed']
country_code_grp.head(10)

In [20]:
#sample code -- #group by country code
#grpbycc = napster_df.groupby(['Country_Code'])

In [ ]:
#sample code -- group by us
#us_grpbycc = grpbycc.get_group('US')

In [ ]:
#us_grpbycc.head(10)

In [ ]:
#sample code -- group subset us group into all that have songwriter status equal 0
#us_grpbycc[us_grpbycc['Songwriter_Y_N']==0]

In [ ]:
#sample code - - now perform an aggregate
#us_grpbycc[us_grpbycc['Songwriter_Y_N']==0]['Songwriter_Y_N'].count

### Starting DSP Analysis

In [ ]:
#Using napster_df above find top 10 clients for each DSP for all years in napster_df; looking at Streams per DSP

In [ ]:
#

In [ ]:
napster_df.head(7)

In [ ]:
#finding data types for columns
napster_df.dtypes

In [ ]:
#change Streams from object to float
#napster_df['Streams'] = napster_df['Streams'].astype(str)
#napster_df['Streams'] = pd.to_numeric(napster_df['Streams'],errors = 'coerce')
#napster_df.dtypes

In [ ]:
#example of changing object to string and then to a number to get working value
#df['purchase'].astype(str).astype(int)

In [ ]:
napster_df.head(7)

In [ ]:
napster_df.dtypes

In [ ]:
#isrc_by_dsp = napster_df.Streaming_Plat_DSP.value_counts()
#isrc_by_dsp.head(10)

In [ ]:
#set display for scientific notation
#pd.reset_option('^display.', silent=True)

In [ ]:
#top_streaming_DSP
dsp_by_stream = napster_df.groupby(['Streaming_Plat_DSP'])['Streams'].sum().reset_index(name='num_streams').sort_values(by='num_streams', ascending=False)
dsp_by_stream.head(10)

In [ ]:
dsp_by_stream.iloc[[0]]

In [ ]:
dsp_by_stream.reset_index(drop=True)

In [ ]:
#pd.DataFrame(dsp_by_stream.size().reset_index(name = 'Group_Count'))
#pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))

In [ ]:
isrc_by_dsp = napster_df.groupby(['Streaming_Plat_DSP'])['ISRC'].count().reset_index(name='isrc_count').sort_values(by='isrc_count', ascending=False)
isrc_by_dsp.head(10)

In [ ]:
#finding nan in DSP column
#napster_df['Streaming_Plat_DSP'].isna().sum()

In [ ]:
#finding nan in irsc column
#napster_df['ISRC'].isna().sum()

In [ ]:
# number of nan per row in napster_df
display(napster_df.isna().sum())

In [ ]:
#subset for Spotify
spotify_sub = napster_df[napster_df['Streaming_Plat_DSP']=='Spotify']
spotify_sub.head(5)

In [ ]:
#spotify_sub.groupby(['Streaming_Plat_DSP'])['Ref_Year'].count().reset_index(name='isrc_count').sort_values(by='isrc_count', ascending=False)

In [ ]:
spotify_yr_stream_sum = spotify_sub.groupby(['Ref_Year'])['Streams'].sum().reset_index(name='spotify_num_streams').sort_values(by='Ref_Year', ascending=True)
spotify_yr_stream_sum.head(37)

In [ ]:
#spotify_yr_stream_sum = spotify_yr_stream_sum.drop(spotify_yr_stream_sum.index[0:5])
#spotify_yr_stream_sum.reset_index(drop=True, inplace=True)
#spotify_yr_stream_sum.head(25)

In [ ]:
#spotify_yr_stream_sum = spotify_yr_stream_sum.drop(spotify_yr_stream_sum.index[17:81])
#spotify_yr_stream_sum.reset_index(drop=True, inplace=True)
#spotify_yr_stream_sum.head(25)
#spotify_yr_stream_sum

In [ ]:
#plt.plot(spotify_yr_stream_sum['Ref_Year'],spotify_yr_stream_sum['spotify_num_streams'])
#plt.show()

In [ ]:
#spotify_yr_stream_sum.dtypes

In [ ]:
dsp_by_title_dec = napster_df.groupby(['Streaming_Plat_DSP','Ref_Year'])['Recording_Title'].count().reset_index(name='num_titles').sort_values(by='num_titles', ascending=False)
dsp_by_title_dec.head(10)

In [ ]:
#change ref_year to int
#napster_df['Ref_Year'].dropna() ... didn't work

In [ ]:
#change column to have no decimal places, Int64 seems to work for some reason
#napster_df['Ref_Year'] = np.round(napster_df['Ref_Year'].astype('Int64'))
napster_df['Ref_Year'].head()

In [ ]:
napster_df.dtypes

In [ ]:
#dsp_by_title_dec['Ref_Year'] = np.round(dsp_by_title_dec['Ref_Year'].astype('Int64'))
#dsp_by_title_dec.head()

In [ ]:
napster_df.head()

In [ ]:
napster_df.dtypes

In [ ]:
napster_df.isnull().sum()

In [ ]:
napster_df.isnull().sum()

In [ ]:
napster_df['Ref_Year'].dropna()

In [ ]:
napster_df.isnull().sum()

In [ ]:
#napster_df['New_Yr_Ref'] = pd.to_datetime(napster_df['Ref_Year'], format="%y")

In [ ]:
napster_df['Ref_Year'] = napster_df['Ref_Year'].dropna()

In [18]:
napster_df.dtypes

If                                            object
Country Code                                  object
Registrant Code                               object
Year of Reference                            float64
Usage Period                                  object
Streaming Platform (DSP)                      object
Streams                                       object
Recording Artist                              object
Recording Label                               object
Recording Title                               object
Release Title                                 object
Recording Duration (Seconds)                   int64
Songwriter's Listed (1 = "Yes", 0 = "No")      int64
dtype: object

In [16]:
for index, row in napster_df.iterrows():
    
    print('working on row:', index)
    
    if row['Ref_Year'] > 21 & row['Ref_Year'] <= 99 :
        napster_df.loc[index, 'new_ref_year'] = row['Ref_Year'] + 1900
    elif row['Ref_Year'] <= 21 :
        napster_df.loc[index, 'new_ref_year'] = row['Ref_Year'] + 2000
    elif row['Ref_Year'].isnull == True :
        napster_df.loc[index, 'new_ref_year'] = row['Ref_Year']
    else :
        napster_df.loc[index, 'new_ref_year'] = row['Ref_Year']
    
print('finished')

working on row: 0

KeyError: 'Ref_Year'

In [ ]:
display(napster_df.iloc[[84]])